<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,700" rel="stylesheet" />
</head>

<body>
  <table class="mail">
    <thead>
      <tr style="height: 35px;"></tr>
      <tr>
        <th style="min-width: 58px;"></th>
        <th class="mail__header-width">
          <h1 class="mail__title">Qual a melhor oferta?</h1>
        </th>
        <th style="min-width: 58px;"></th>
      </tr>
      <tr>
        <th style="min-width: 58px;"></th>
        <th class="mail__header-width">
          <p class="mail__subtitle">
            Os fabricantes fizeram a proposta do save de {{ save.title }}, selecionamos as melhores e agora você vota!
          </p>
        </th>
        <th style="min-width: 58px;"></th>
      </tr>
      <tr style="height: 25px;"></tr>
    </thead>
    <tbody>
      <tr>
        <td style="min-width: 28px;"></td>
        <td class="mail__content-wrapper">
          <table class="mail__content">
            <tbody>
              <tr style="height: 32px;"></tr>
              {{#each save.Products}}
              <tr>
                <td style="width: 28px;"></td>
                <td>
                  <table class="mail__product">
                    <tbody>
                      <tr>
                        <td rowspan="7">
                          <img class="product__image" src="{{ image_default }}" alt="{{ title }}">
                        </td>
                        <td rowspan="7" style="width: 29px;"></td>
                        <td style="height: 1px;">
                          <p class="product__text product__text--provider">Ofertado por {{ Provider.name }}</p>
                        </td>
                      </tr>
                      <tr style="height: 7px;"></tr>
                      <tr>
                        <td style="height: 1px;">
                          <p class="product__title">{{ title }}</p>
                        </td>
                      </tr>
                      <tr>
                        <td style="height: 1px;">
                          <p class="product__price">R$ {{ currency price }}</p>
                        </td>
                      </tr>
                      <tr>
                        <td style="height: 1px;">
                          <p class="product__text product__text--method">
                            {{ method_payment }}
                          </p>
                        </td>
                      </tr>
                      <tr style="height: 26px;"></tr>
                      <tr>
                        <td>
                          <a class="product__button" target="_blank" href="{{ ../appUrl }}/offer/{{ ../save.slug }}">
                            Votar na oferta
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
                <td style="width: 28px;"></td>
              </tr>
              <tr style="height: 32px;"></tr>
              {{/each}}
              <tr></tr>
            </tbody>
          </table>
        </td>
        <td style="min-width: 28px;"></td>
      </tr>
      {{> mail-footer}}
    </tbody>
  </table>

  <style>
    .mail {
      width: 100%;
      background: #1d2028;
    }

    .mail__header-width {
      width: 600px;
    }

    .mail__title {
      text-align: left;
      text-transform: uppercase;
      font-family: 'Oswald', sans-serif;
      font-size: 34px;
      line-height: 1.47;
      color: #fff;
      margin: 0;
      padding: 0;
    }

    .mail__subtitle {
      text-align: left;
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      font-weight: 400;
      color: #fff;
      margin: 0;
    }

    .mail__content-wrapper {
      width: 600px;
    }

    .mail__content {
      width: 100%;
      background: #fff;
      border-radius: 2px;
    }

    .product__image {
      width: 200px;
    }

    .product__text {
      font-family: 'Roboto', sans-serif;
      font-size: 12px;
      color: #1d2028;
      margin: 0;
    }

    .product__text--method {
      font-weight: 500;
    }

    .product__title {
      text-align: left;
      font-family: 'Oswald', sans-serif;
      font-size: 16px;
      margin: 0;
    }

    .product__price {
      text-align: left;
      font-family: 'Oswald', sans-serif;
      font-size: 24px;
      font-weight: bold;
      color: #1d2028;
      margin: 0;
    }

    .product__button,
    .product__button:visited,
    .product__button:focus {
      display: block;
      width: 250px;
      height: 44px;
      text-align: center;
      line-height: 44px;
      text-decoration: none;
      text-transform: uppercase;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 14px;
      color: #fff;
      border-radius: 2px;
      background-color: #28ba64;
      box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.1);
    }
  </style>
</body>

</html>
